<ion-view view-title="Juego">
<style type="text/css">
table.cell {    
  width: 100px;
    height: 100px;
    font: 90px sans-serif;
    text-align: center;
    vertical-align: center;
}
</style>
<center>
  <ion-content class="padding">
      <table border="2" class="cell">
        <tr ng-repeat="row in [0,1,2]">
            <td ng-repeat="column in [0,1,2]">{{cellText(row,column)}}</td>
        </tr>
    </table>
    <br>
    <h4>Tu signo:{{player}}</h4>
    <h4>Turno:{{currentPlayer}}</h4>
    {{ganador}}
    <br>
    <form>
      <input type"int" ng-model="posicion">
      <button type="submit" ng-click="testPos(posicion)">Enviar</button>
    </form>
    </center>

  </ion-content>
</ion-view>
