

/**/.pane {
    background-image: url("../images/letras-vitalfit.png");
    background-size: cover;
}


.tituloresumen {
    background-image: url("../images/Logo-aplicacion.png");
    background-size: cover;
}/* Empty. Add your own CSS if you like */
